.app-style {
  padding: 100px;
  display: flex;
  gap: 12px;
}

.square-style {
  border: 3px solid rgb(107, 139, 236);
  width: 200px;
  border-radius: 12px;
  padding: 24px 24px;
}

.header-design {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.input-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  align-items: center;
  padding: 30px;
  background-color: #eee;
}

.todolist-layout{
  max-width: 1200px;
  min-width: 800px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.todo-container{
  padding: 0 20px;
}

.todo-working{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.todo-done{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}